/*css randomizer*/

body {
    margin: 0;
    transition: background 1s ease-in-out;
}

h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
}

h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#main {
    /* white display box around get wisdom button*/
    height: 65vh;
    width: 80vw;
    padding: 10vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
 
}
/*the wisdom display on the screen*/
#fortune {
    padding-left: 100px;
    text-align: center;
    font-size: 20pt;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
}

mark {
    background: white (350, 350, 350);
}

/*get fortune button formatting*/
#getFortune {
    height: auto;
    width: calc(80% - 20px);
    padding: 20px;
    border-radius: 5px;
    background: dodgerblue;
    position: fixed;
    left: 10vw;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #9D7;
    color: #FFF;
    font-size: 15pt;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
}